# Recall App - Client Environment Variables
EXPO_PUBLIC_SUPABASE_URL=https://xuchgbysbnyztalywjxg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iZwfdrb9VmHbtoTYo2WvYw_ABEY8TE9

# RevenueCat Sandbox Test Keys
EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=test_DMkDosNWtiSPaEUEQZwIutzvSBj
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=test_DMkDosNWtiSPaEUEQZwIutzvSBj

# Optional
EXPO_ROUTER_DISABLE_RN_NAVIGATION_CHECK=1
